In [10]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_csv("rw.csv", skipinitialspace=True, sep=' ', comment='#')
df

       user      read      write  jobcnt
0  leverman       0.0  3612672.0       3
1  novarios  466682.0        0.0      66
2   rameshp    8103.7   378933.6     380
3  walkslou  172490.9   140422.7   23041
4  rinaldi2  125954.8    95624.5   22555
5   brtnfld    3168.3   130556.4     391
6    liangj  130600.5      971.1     399
7      bnlu   50697.2    63987.2      48
8  nlaanait   69199.7    28522.8     176
9  reubendb    2552.5    92809.2     144

In [24]:
np.sum(df['read']) / (np.sum(df['read']) + np.sum(df['write']))

0.18468945114694357

In [20]:
np.sum(df['write'])

931827.5

In [31]:
np.sum(df['read'][1:]) / (np.sum(df['read'][1:]) + np.sum(df['write'][1:]))

0.5248873807785753